// app global css in SCSS form
@font-face{
  font-family: nasalization;
  src: url(fonts/nasalization-rg.otf);
}

body{
  // background: radial-gradient(circle at 60% 107%, $n-light-blue 0%, $n-mid-blue 50%, $n-heavy-blue 100%)
  //background: radial-gradient(circle at 60% 107%, $cake-green 0%, $cake-lemon 50%, $n-light-lemon 100%)
  // background: radial-gradient(circle at 60% 107%, $n-light-pink 0%, $n-light-blue 50%, $n-light-lemon 100%)
  // background-color: #1a1b1f;
  // background: radial-gradient(circle at 107% 30%, $surface-1 0%, $surface-2 50%, $surface-3 100%);
  // background: radial-gradient(circle at 107% 30%, $aqua-1 0%, $aqua-2 50%, $aqua-3 100%);
  // background: radial-gradient(circle at 107% 30%, $surface-1 0%, $surface-2 50%, $aqua-3 100%);
  // background: #474E68;
  background: black;
  // background: rgba(245, 245, 245);
  // background: #BDBDBD;
  // background: #EEEEEE;
  // background: radial-gradient(circle at 30% 107%, $cake-purple 0%, $cake-pink 30%, $cake-lemon 60%, $cake-green 100%);
  // background: linear-gradient(90deg, $aqua-1 15%, $cake-pink 20%, $cake-lemon 75%, $cake-green 100%);
}

.bg-noise{
  background: url(img/nnnoise.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-static-noise{
  background: url(img/static-nnnoise-mini.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-noise-mini{
  background: url(img/nnnoise-mini.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-poli{
  background: url(img/180_3.svg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  // transform: rotate(180deg);
}

.bg-cloudy{
  background: url(img/cloudy.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-circuity{
  background: url(img/c6.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-circuity-l{
  background: url(img/c7.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nasalization{
  font-family: nasalization;
}

.blue-surface{
  background: radial-gradient(circle at 30% -80%, $n-light-blue 30%, $n-light-lemon 80%);
}

.red-surface{
  background: radial-gradient(circle at 200% -40%, $n-light-red 60%, $n-light-lemon 80%);
}

.red-surface-bottom{
  background: radial-gradient(circle at 50% 300%, $n-light-red 60%, $n-light-lemon 100%);
}

.lemon-grad{
  background: radial-gradient(circle at 0% 107%, $n-light-lemon 0%, $n-light-blue 100%, $n-light-lemon 100%);
}

.cake-grad{
  // background: radial-gradient(circle at 30% 107%, $cake-purple 0%, $cake-pink 30%, $cake-lemon 60%, $cake-green 100%);
  background: radial-gradient(circle at 70% 107%, $n-light-pink 0%, $n-light-blue 50%, $n-light-lemon 100%)
  // background: radial-gradient(circle at 107% 20%, $surface-2 20%, $aqua-3 100%);
}

.anti-cake-grad{
  // background: radial-gradient(circle at 30% 107%, $cake-purple 0%, $cake-pink 30%, $cake-lemon 60%, $cake-green 100%);
  background: radial-gradient(circle at 40% 107%, $n-light-pink 0%, $n-light-blue 50%, $n-light-lemon 100%)
  // background: radial-gradient(circle at 107% 20%, $surface-2 20%, $aqua-3 100%);
}

.bg-grid{
  // background: #474E68;
  background: $n-mid-blue;
  // background: radial-gradient(circle at 60% 107%, $n-light-blue 0%, $n-mid-blue 50%, $n-heavy-blue 100%)
  // background: url(img/green-circuit.svg);
  // background: url(img/green-trans-citcuit.svg);
}


.u-light-glass{
  background: rgba(255, 243, 224, 0.2);
  // box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.4px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(251, 255, 255, 0.2);
}

.light-glass{
  background: rgba(255, 243, 224, 0.4);
  // box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(251, 255, 255, 0.2);
}

.thick-glass{
  background: rgba(2, 197, 204, 0.564);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(245, 245, 245, 0.3);
}

.container{
  display: flex;
  flex-direction: column;
}

.blue-borders{
  border: 0.6px solid rgba(69, 90, 100, 0.3);
}
.golden-borders{
  border: 0.3px solid rgba(255, 243, 224, 0.2);
}

.inner-blue-shadow{
  box-shadow: inset #B0BEC5 -1px -1px 0;
}

.blue-shadow{
  box-shadow: #B0BEC5 1px 1px 0;
}

.inset-font{
  color: #455A64;
  font-weight: bold;
  text-shadow: #ffffff 1px 1px 0;
}

.child{
  flex-grow: 1;
}

.full{
  // height:100vh;
  // width:100vw;
  height: 100%;
  width: 100%;
}

.h-inherit{
  height: inherit;
}

.rounded-1{
  // border-radius: 0em;
  border-radius: 1em;
}

.rounded-2{
  // border-radius: 0em;
  border-radius: 1.5em;
}

.rounded-r-2{
  border-bottom-right-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.rounded-u-2{
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.rounded-u-l-2{
  border-top-left-radius: 1.5em;
}

.rounded-u-r-2{
  border-top-right-radius: 1.5em;
}

.rounded-b-l-2{
  border-bottom-left-radius: 1.5em;
}

.rounded-b-r-2{
  border-bottom-right-radius: 1.5em;
}

.rounded-b-2{
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.rounded-3{
  border-radius: 2.5em;
}

.rounded-10{
  border-radius: 1em;
}

.rounded-u{
  border-top-left-radius: 0.66em;
  border-top-right-radius: 0.66em;
}

.rounded-u-1{
  border-top-left-radius: 0.33em;
  border-top-right-radius: 0.33em;
}

.rounded-d{
  border-bottom-left-radius: 0.66em;
  border-bottom-right-radius: 0.66em;
}

.rounded-l{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.rounded-l-1{
  border-top-left-radius: 0.33em;
  border-bottom-left-radius: 0.33em;
}

.rounded-l-2{
  border-top-left-radius: 0.66em;
  border-bottom-left-radius: 0.66em;
}

.rounded-r-2{
  border-top-right-radius: 0.66em;
  border-bottom-right-radius: 0.66em;
}

.rounded-r-u-2{
  border-bottom-right-radius: 0.66em;
}

.rounded-l-d-2{
  border-bottom-left-radius: 0.66em;
}

.center {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.container-full {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
