// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Importing my own
$n-light-blue  : #99feff;
$n-light-pink  : #ff99fe;
$n-light-lemon : #feff99;


$n-mid-blue    : #94daff;
$n-mid-pink    : #ff94da;
$n-mid-lemon  : #daff94;

$n-heavy-blue  : #94b3fd;
$n-heavy-pink  : #fd94b3;
$n-heavy-lemon : #b3fd94;

$aqua-1 : #E8FFE8;
$aqua-2 : #A6FFF2;
$aqua-3 : #74F9FF;
$aqua-4 : #00e0ff;

$cake-green  : #89F8CE;
$cake-lemon  : #F5FAC7;
$cake-pink   : #DEC8ED;
$cake-purple : #CC99F9;

$surface-1 : #FFFB97;
$surface-2 : #97FFCF;
$surface-3 : #2FE1D6;
$surface-4 : #38C6BD;

$aqua-1 : #E8FFE8;
$aqua-2 : #A6FFF2;
$aqua-3 : #74F9FF;
$aqua-4 : #00E0FF;

$dark-1 : #404258;
$dark-2 : #474E68;
$dark-3 : #50577A;
$dark-4 : #6B728E;

$light-1: rgb(245, 245, 245);

$dark-lemon-green: #C7CA99;
$dark-lemon-grey:  #727572;
